{% include "base.html" %}
{% block author_quotes %}
<div class="container">
    <div class="authors">
        <h1>All Authors</h1>
        <ul>
            {% for author in authors %}
                <li><a href="/authors/{{ author }}">{{ author }}</a></li>
            {% endfor %}
        </ul>

        {% if page > 1 %}
            <a href="/authors?page={{ page - 1 }}">Previous</a>
        {% endif %}

        {% if page < total_pages %}
            <a href="/authors?page={{ page + 1 }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}