.author-list-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #2B2E4A;
}
.author-list-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.author-list-logo {
  color: #F1EFEF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.author-list-desktop-menu {
  display: flex;
}
.author-list-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.author-list-button {
  color: #F1EFEF;
  text-decoration: none;
}
.author-list-button1 {
  color: #F1EFEF;
  text-decoration: none;
}
.author-list-link {
  color: #F1EFEF;
  text-decoration: none;
}
.author-list-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.author-list-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.author-list-image {
  width: 100px;
  object-fit: cover;
}
.author-list-icon {
  width: 24px;
  height: 24px;
}
.author-list-icon02 {
  width: 24px;
  height: 24px;
}
.author-list-icon04 {
  width: 24px;
  height: 24px;
}
.author-list-image1 {
  width: 100px;
  object-fit: cover;
}
.author-list-view {
  color: #F1EFEF;
  text-decoration: none;
  background-color: rgb(232, 69, 69);
}
.author-list-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.author-list-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.author-list-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.author-list-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.author-list-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.author-list-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.author-list-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-list-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.author-list-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.author-list-button3 {
  color: rgb(255, 255, 255);
}
.author-list-button4 {
  color: rgb(255, 255, 255);
}
.author-list-button5 {
  color: rgb(255, 255, 255);
}
.author-list-button6 {
  color: rgb(255, 255, 255);
}
.author-list-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.author-list-authors {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
}
.author-list-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #E84545;
}
.author-list-main {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.author-list-heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.author-list-header {
  color: rgb(241, 239, 239);
  font-size: 80px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.author-list-textinput {
  width: 100%;
  height: auto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #F1EFEF;
}
.author-list-container03 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.author-list-container04 {
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.author-list-view01 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view02 {
  color: rgb(241, 239, 239);
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view03 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view04 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view05 {
  color: #F1EFEF;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  background-color: #903749;
}
.author-list-container05 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.author-list-view06 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view07 {
  color: rgb(241, 239, 239);
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view08 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view09 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view10 {
  color: #F1EFEF;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  background-color: #903749;
}
.author-list-container06 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.author-list-view11 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view12 {
  color: rgb(241, 239, 239);
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view13 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view14 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view15 {
  color: #F1EFEF;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  background-color: #903749;
}
.author-list-container07 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.author-list-view16 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view17 {
  color: rgb(241, 239, 239);
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view18 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view19 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view20 {
  color: #F1EFEF;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  background-color: #903749;
}
.author-list-container08 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.author-list-view21 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view22 {
  color: rgb(241, 239, 239);
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view23 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #903749;
}
.author-list-view24 {
  color: #f1efef;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(144, 55, 73);
}
.author-list-view25 {
  color: #F1EFEF;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  background-color: #903749;
}
.author-list-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.author-list-view26 {
  color: rgb(241, 239, 239);
  padding: var(--dl-space-space-unit);
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgb(83, 53, 74);
}
.author-list-view27 {
  color: rgb(241, 239, 239);
  padding: var(--dl-space-space-unit);
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgb(83, 53, 74);
}
.author-list-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.author-list-logo2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.author-list-text2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: center;
  text-align: left;
  line-height: 27px;
}
.author-list-container11 {
  display: contents;
}
@media(max-width: 1200px) {
  .author-list-textinput {
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #F1EFEF;
    border-top-left-radius: var(--dl-radius-radius-radius8);
  }
}
@media(max-width: 1024px) {
  .author-list-container {
    background-color: #292c46;
  }
  .author-list-desktop-menu {
    display: none;
  }
  .author-list-btn-group {
    display: none;
  }
  .author-list-burger-menu {
    display: flex;
  }
  .author-list-button2 {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
    background-color: #E84545;
  }
  .author-list-icon06 {
    fill: #F1EFEF;
  }
  .author-list-logo1 {
    color: rgb(0, 0, 0);
  }
  .author-list-button3 {
    color: #000000;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .author-list-button4 {
    color: #000000;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .author-list-button5 {
    color: #000000;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .author-list-button6 {
    color: #000000;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .author-list-content {
    width: 930px;
  }
  .author-list-main {
    width: auto;
  }
  .author-list-heading {
    width: 730px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .author-list-header {
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
  }
  .author-list-container03 {
    width: auto;
  }
  .author-list-container04 {
    width: auto;
    height: auto;
  }
  .author-list-container05 {
    height: auto;
  }
  .author-list-container06 {
    height: auto;
  }
  .author-list-container07 {
    height: auto;
  }
  .author-list-container08 {
    height: auto;
  }
  .author-list-view26 {
    color: #F1EFEF;
    font-style: normal;
    font-weight: 600;
    background-color: #53354A;
  }
  .author-list-view27 {
    color: #F1EFEF;
    font-style: normal;
    font-weight: 600;
    background-color: #53354A;
  }
}
@media(max-width: 735px) {
  .author-list-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .author-list-mobile-menu {
    height: 100vh;
  }
  .author-list-nav1 {
    height: var(--dl-size-size-large);
  }
  .author-list-authors {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .author-list-content {
    width: 720px;
    padding-top: var(--dl-space-space-threeunits);
  }
  .author-list-main {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .author-list-heading {
    gap: var(--dl-space-space-unit);
  }
  .author-list-header {
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
  }
  .author-list-container03 {
    width: 665px;
    margin-top: 0px;
    align-items: flex-start;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .author-list-container04 {
    height: auto;
  }
  .author-list-container05 {
    height: auto;
  }
  .author-list-container06 {
    height: auto;
  }
  .author-list-container07 {
    height: auto;
  }
  .author-list-container08 {
    height: auto;
  }
  .author-list-view26 {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .author-list-view27 {
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .author-list-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .author-list-logo2 {
    font-size: 20px;
    line-height: 24px;
  }
  .author-list-text2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .author-list-header {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
  }
}
@media(max-width: 415px) {
  .author-list-register {
    color: #F1EFEF;
    background-color: #E84545;
  }
}
@media(max-width: 375px) {
  .author-list-navbar {
    padding: var(--dl-space-space-unit);
  }
  .author-list-mobile-menu {
    height: 100vh;
    padding: 16px;
    background-color: #F1EFEF;
  }
  .author-list-authors {
    padding-top: var(--dl-space-space-fourunits);
  }
  .author-list-content {
    width: auto;
    padding-top: 0px;
  }
  .author-list-main {
    width: auto;
    height: auto;
  }
  .author-list-heading {
    width: 100%;
  }
  .author-list-header {
    height: 83px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
  }
  .author-list-container03 {
    width: auto;
    height: auto;
  }
  .author-list-container04 {
    width: 100%;
    height: auto;
  }
  .author-list-view03 {
    display: none;
  }
  .author-list-view04 {
    display: none;
  }
  .author-list-view05 {
    display: none;
  }
  .author-list-container05 {
    width: 100%;
    height: auto;
  }
  .author-list-view08 {
    display: none;
  }
  .author-list-view09 {
    display: none;
  }
  .author-list-view10 {
    display: none;
  }
  .author-list-container06 {
    width: 100%;
    height: auto;
  }
  .author-list-view13 {
    display: none;
  }
  .author-list-view14 {
    display: none;
  }
  .author-list-view15 {
    display: none;
  }
  .author-list-container07 {
    width: 100%;
    height: auto;
  }
  .author-list-view18 {
    display: none;
  }
  .author-list-view19 {
    display: none;
  }
  .author-list-view20 {
    display: none;
  }
  .author-list-container08 {
    width: 100%;
    height: auto;
  }
  .author-list-view23 {
    display: none;
  }
  .author-list-view24 {
    display: none;
  }
  .author-list-view25 {
    display: none;
  }
  .author-list-view26 {
    font-style: normal;
    font-weight: 600;
  }
  .author-list-view27 {
    font-style: normal;
    font-weight: 600;
  }
  .author-list-footer {
    width: auto;
    padding: var(--dl-space-space-unit);
    max-width: auto;
    flex-direction: column;
  }
  .author-list-text2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
