{% include "index.html" %}
{% block author_list %}
<section class="author-list-authors">
  <div class="author-list-content">
    <div class="author-list-main">
      <div class="author-list-heading">
        <h2 class="author-list-header">Browse Authors</h2>
        <input type="text" placeholder="Type to search ..." class="author-list-textinput input" />
        <div class="author-list-container03">
          <div class="author-list-container04">
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view01 button">
              Napoleon Hill
            </a>
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view02 button">
              Kahlil Gibran
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view03 button">
              George Eliot
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view04 button">
              Charles Dickens
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view05 button">
              Alfred Adler
            </a>
          </div>
          <div class="author-list-container05">
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view06 button">
              Napoleon Hill
            </a>
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view07 button">
              Kahlil Gibran
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view08 button">
              George Eliot
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view09 button">
              Charles Dickens
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view10 button">
              Alfred Adler
            </a>
          </div>
          <div class="author-list-container06">
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view11 button">
              Napoleon Hill
            </a>
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view12 button">
              Kahlil Gibran
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view13 button">
              George Eliot
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view14 button">
              Charles Dickens
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view15 button">
              Alfred Adler
            </a>
          </div>
          <div class="author-list-container07">
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view16 button">
              Napoleon Hill
            </a>
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view17 button">
              Kahlil Gibran
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view18 button">
              George Eliot
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view19 button">
              Charles Dickens
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view20 button">
              Alfred Adler
            </a>
          </div>
          <div class="author-list-container08">
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view21 button">
              Napoleon Hill
            </a>
            <a href="https://colorhunt.co/" target="_blank" rel="noreferrer noopener" class="author-list-view22 button">
              Kahlil Gibran
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view23 button">
              George Eliot
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view24 button">
              Charles Dickens
            </a>
            <a href="https://colorhunt.co/palettes/popular" target="_blank" rel="noreferrer noopener"
              class="author-list-view25 button">
              Alfred Adler
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}