{% extends "index.html" %}
{% block author_quotes %}
<section class="author-quotes-hero">
  <div class="author-quotes-heading">
    <h1 class="author-quotes-header">{{ author }}</h1>
    <p class="author-quotes-caption">Quotes and Inspiration</p>
  </div>
</section>
<section class="author-quotes-quotes">
  <div class="author-quotes-content">
    <div class="author-quotes-main">
      <div class="author-quotes-container3">
        {% for quote in quotes %}
        <button class="author-quotes-view1 button">
          {{ quote['quote'] }}
        </button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="author-quotes-description">
  <div class="author-quotes-container4">
    <div class="author-quotes-content1">
      <h3 class="author-quotes-paragraph">
        <span>Get Quotes on your Websites</span>
        <br />
      </h3>
      <p class="author-quotes-paragraph1">
        The QouteSpark API is a user-friendly data feed for your website or app,
        favored by developers for its ease of integration. It is widely used in start pages, social bots, mental health
        apps, and IoT devices. You can get started in just a few minutes by reading the <a href="https://github.com/kents00/QuoteSpark"> Full Documentation</a>.
      </p>
    </div>
  </div>
</section>
{% endblock %}