{% extends "index.html" %}
{% block author_quotes %}
 <section class="author-quotes-hero">
  <div class="author-quotes-heading">
    <h1 class="author-quotes-header">{{ author }}</h1>
    <p class="author-quotes-caption">Quotes and Inspiration</p>
  </div>
</section>
<section class="author-quotes-quotes">
  <div class="author-quotes-content">
    <div class="author-quotes-main">
      <div class="author-quotes-container3">
        {% for quote in quotes %}
        <button class="author-quotes-view1 button">
          {{ quote['quote'] }}
        </button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="author-quotes-description">
  <div class="author-quotes-container4">
    <div class="author-quotes-content1">
      <h3 class="author-quotes-paragraph">
        <span>Get Quotes on your Websites</span>
        <br />
      </h3>
      <p class="author-quotes-paragraph1">
        The ZenQuotes API is an incredibly easy to use data feed for
        your website or app. Developers love integrating our service
        into their projects. Some common use cases include: start pages,
        social bots, mental health apps, and IoT devices. Get running in
        less than a few minutes by reading the Full Documentation.
      </p>
    </div>
  </div>
</section>
{% endblock %}