{% block featured_authors %}
<section class="home-authors">
    <div class="home-content1">
    <div class="home-main">
        <div class="home-heading1">

        <h2 class="home-header1">Featured Authors</h2>
        <div class="home-container04">
            <div class="home-container05">
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view01 button"
            >
                Napoleon Hill
            </a>
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view02 button"
            >
                Kahlil Gibran
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view03 button"
            >
                George Eliot
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view04 button"
            >
                Charles Dickens
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view05 button"
            >
                Alfred Adler
            </a>
            </div>
            <div class="home-container06">
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view06 button"
            >
                Napoleon Hill
            </a>
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view07 button"
            >
                Kahlil Gibran
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view08 button"
            >
                George Eliot
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view09 button"
            >
                Charles Dickens
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view10 button"
            >
                Alfred Adler
            </a>
            </div>
            <div class="home-container07">
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view11 button"
            >
                Napoleon Hill
            </a>
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view12 button"
            >
                Kahlil Gibran
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view13 button"
            >
                George Eliot
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view14 button"
            >
                Charles Dickens
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view15 button"
            >
                Alfred Adler
            </a>
            </div>
            <div class="home-container08">
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view16 button"
            >
                Napoleon Hill
            </a>
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view17 button"
            >
                Kahlil Gibran
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view18 button"
            >
                George Eliot
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view19 button"
            >
                Charles Dickens
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view20 button"
            >
                Alfred Adler
            </a>
            </div>
            <div class="home-container09">
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view21 button"
            >
                Napoleon Hill
            </a>
            <a
                href="https://colorhunt.co/"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view22 button"
            >
                Kahlil Gibran
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view23 button"
            >
                George Eliot
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view24 button"
            >
                Charles Dickens
            </a>
            <a
                href="https://colorhunt.co/palettes/popular"
                target="_blank"
                rel="noreferrer noopener"
                class="home-view25 button"
            >
                Alfred Adler
            </a>
            </div>
        </div>
        <button class="home-view26 button">Browse All Authors</button>
        </div>
    </div>
    </div>
</section>
{% endblock %}