{% block header %}
<header data-thq="thq-navbar" class="home-navbar">
    <a href="/" class="home-logo-link">
        <span class="home-logo">QuoteSpark</span>
    </a>
    <div data-thq="thq-navbar-nav" data-role="Nav" class="home-desktop-menu">
        <nav data-thq="thq-navbar-nav-links" data-role="Nav" class="home-nav">
            <a href="#About" onclick="scrollToSection('About')" class="home-link button-clean button">About</a>
            <a href="#API" onclick="scrollToSection('API')" class="home-link1 button-clean button">API</a>
            <a href="https://github.com/kents00/QuoteSpark" target="_blank" rel="noreferrer noopener"
                class="home-link2 button-clean button">
                Documentation
            </a>
        </nav>
    </div>
    <div data-thq="thq-navbar-btn-group" class="home-btn-group">
        <a href="https://ko-fi.com/kents_workof_art" target="_blank" rel="noreferrer noopener" class="home-view button">
            Support on KO-FI
        </a>
    </div>
    <div data-thq="thq-burger-menu" class="home-burger-menu">
        <button class="button home-button">
            <svg viewBox="0 0 1024 1024" class="home-icon06">
                <path
                    d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z">
                </path>
            </svg>
        </button>
    </div>
    <div data-thq="thq-mobile-menu" class="home-mobile-menu">
        <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav1">
            <div class="home-container01">
                <span class="home-logo1">
                    <span>QuoteSpark</span>
                    <br />
                </span>
                <div data-thq="thq-close-menu" class="home-menu-close">
                    <svg viewBox="0 0 1024 1024" class="home-icon08">
                        <path
                            d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z">
                        </path>
                    </svg>
                </div>
            </div>
            <nav data-thq="thq-mobile-menu-nav-links" data-role="Nav" class="home-nav2">
                <button class="home-button1 button-clean button">
                    <a href="#About" onclick="scrollToSection('About')" class="home-link button-clean button">
                        About
                    </a>
                </button>
                <button class="home-button2 button-clean button">
                    <a href="#API" onclick="scrollToSection('API')" class="home-link button-clean button">
                        API
                    </a>
                </button>
                <button class="home-button4 button-clean button">
                    <a href="https://github.com/kents00/QuoteSpark" target="_blank" rel="noreferrer noopener"
                        class="home-link2 button-clean button">
                        Documentation
                    </a>
                </button>
            </nav>
            <div class="home-container02">
                <button class="home-view button">
                    <a href="https://ko-fi.com/kents_workof_art" target="_blank" rel="noreferrer noopener">
                        Support on KO-FI
                    </a>
                </button>
            </div>
        </div>
    </div>
</header>
{% endblock %}