<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ keyword }} Quotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Quotes related to "{{ keyword }}"</h1>
        <div class="quotes">
            <ul>
                {% for quote in quotes %}
                    <li style="text-align: center;"><a href="/author/{{ quote['author'] }}">{{ quote['quote'] }} - {{ quote['author'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
